{% load static %}

body{
    font-family: Roboto, Helvetica;
}

h1, h2, h4, h5, h6{
    color:#3C8C05;
}
a{
    text-decoration: none;
}



.header{
    background-color: #7359C6;
    color: #E1FF00;
}

.icon-text{
    color: #E1FF00;
    text-decoration: none;
}

.icon-text:hover{
    text-decoration: none;
    color: #E1FF00;
    cursor: pointer;
}

.header-button{
    border: 1px solid #E1FF00;
    border-radius: 3px;


}
.header-button:hover{
    border: 1px solid orange;
}

.icon{
    height:20px;
    margin-right: 4px;
    cursor: pointer;
}
.category{
    font-weight: bold;
    color: #8D91FC;

}
.category:hover{
   color: #506CD0;
}


.quantity{
    color:#7359C6;
    text-decoration: none;
}

.quantity-field{
    outline:none;
    text-decoration: none;
    background-color:#7359C6;
    border:none;
     color:#E1FF00;=
    border-radius:10px;

}

.quantity-field:active :focus :hover{
    border: 2px solid #7359C6;
}

.btn-option{
    outline: none;
}

.price-block{
    position:absolute;
    bottom:10px;
    right:10px;
}

.price-f{
    font-weight: bold;
    font-size: 150%;

}

.to-cart{
    background: #00823C;
    border: none;
    border-radius:16px;
    color: #FFC832;
    font-size: 120%;
    line-height: 100%;
}


.delete{
    height: 20px;
    width:20px;
	color: rgba(50, 60, 140, 0);
	background-color: red;
	border-radius: 3px;
    border: none;
}
.login-input input{
    border:2px solid orange;
    border-radius: 7px;
    color:#7359C6;
    width:30%;
    transition: width 1s;
    text-align:center;

}
.login-input input:focus{
    background-color:#7359C6;
    color:#E1FF00;
    outline: none;
    border:none;
    width:50%;
}
.error-text {
    color:red;
    font-size:80%;
}
.submit{
        width:30%;
        background-color:red;
        color:#E1FF00;
        border-radius:5px;
        border:none;
}
.handler-p{
    margin:0px;
}

